 
 
 {% extends "MyBase.html" %}
{%block content%}
{% load static %}
<div class="container container-flex">
    <main role="main">
        
        <article class="article-featured">
            <img src="static/images/life.jpg" alt="simple white desk on a white wall with a plant on the far right side" class="article-image">
        </article>
        
        <article class="article-recent">
            <div class="article-recent-main">
                {% for i in blog %}
                <h2 class="article-title">{{i.title}}</h2>
                <p class="article-body">{{i.content}}</p>
                <a href="#" class="article-read-more">CONTINUE READING</a>
                {% endfor %}
            </div>
            <div class="article-recent-secondary">
                <img src="static/images/food.jpg" alt="two dumplings on a wood plate with chopsticks" class="article-image">
                <p class="article-info">July 19, 2019 | 3 comments</p>
            </div>
        </article>
        
        
            <div class="article-recent-secondary">
                <img src="static/images/work.jpg" alt="a chair white chair at a white desk on a white wall" class="article-image">
                <p class="article-info">July 12, 2019 | 3 comments</p>
            </div>
        </article>
        
        
            <div class="article-recent-secondary">
                <img src="static/images/deco.jpg" alt="a green plant in a clear, round vase with water in it" class="article-image">
                <p class="article-info">July 3, 2019 | 3 comments</p>
            </div>
        </article>
    </main>
    
    <aside class="sidebar">
        
        <div class="sidebar-widget">
            <h2 class="widget-title">ABOUT ME</h2>
            <img src="static/images/about-me.jpg" alt="john doe" class="widget-image">
            <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
        </div>
        
        
        
    </aside>
    
</div>


{%endblock%}